.div-logo {
  background-color: var(--primary-color);
}

.div-nav {
  display: flex;
  background-color: var(--primary-color);
  width: 100%;
}

.liste-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  width: 24rem;
}

.items {
  cursor: pointer;
  color: white;
}

.btn-toggle {
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  border-radius: 55px;
}

.img-logo {
  width: 6rem;
  height: 3.1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
  right: 9.7rem;
}

.img-boussole {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 750px) {
  .div-logo {
    display: flex;
    justify-content: center;
    padding-right: 65rem;
  }
  .img-logo {
    width: 6rem;
    height: 6rem;
    margin-top: 2rem;
    left: 4rem;
  }

  .div-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .liste-nav {
    list-style: none;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    width: 65rem;
  }

  .items {
    cursor: pointer;
    font-size: 3rem;
  }

  .btn-toggle {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .div-nav {
    width: 100%;
  }
  .img-logo {
    width: 6rem;
    height: 6rem;
    margin-top: 2rem;
    left: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .div-nav {
    width: 100%;
  }
  .img-logo {
    width: 6rem;
    height: 6rem;
    margin-top: 2rem;
    margin-right: 12rem;
  }
}

@media screen and (min-width: 1300px) {
  .div-nav {
    width: 100%;
    margin: auto;
  }
  .img-logo {
    width: 6rem;
    height: 6rem;
    margin-top: 2rem;
    margin-right: 93rem;
    font-size: 2rem;
  }
}
