
/* o-------------------------scar -------------------------*/
.buttonAddFavorite {
  border: 0;
  background-color: transparent;
  display: flex;
}
.favoriteIcon {
  height: 1rem;
}









/* -------------------------oscar-------------------------*/
