.separatingLine {
  height: 10px;
  background-color: white;
}

.main {
  background-color: grey;
}

/* o-------------------------scar -------------------------*/
.oscar-div-exemple {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.offre {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  height: 20vh;
  width: 20vw;
}
.buttonAddFavorite {
  border: 0;
  background-color: transparent;
  display: flex;
}
.favoriteIcon {
  height: 1rem;
}
.favoriteIcon:hover {
  height: 1.1rem;
}

/* -------------------------oscar-------------------------*/
