.displayError {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonReload {
  height: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  border: 0;
  display: flex;
  align-items: center;
}

.divError {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allInJobOffer {
  display: flex;
  width: 100%;
}
.buttonOffer {
  border-radius: 10px;
  background-color: white;
  border: 0;
  width: 100%;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.jobContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 1rem;
}
.jobContainer h1 {
  font-size: 1.2em;
}

.favoriteDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 0rem 0.7rem 0.5rem 0;
}
.jobDetail,
p {
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 0px 1rem 1rem 1rem;
}

/* -------------------------oscar -------------------------*/

.favoriteIcon:hover {
  height: 1.1rem;
}
/* o-------------------------scar -------------------------*/

.buttonAddFavorite {
  border: 0;
  background-color: transparent;
  display: flex;
}

.favoriteIcon:hover {
  height: 1.1rem;
}

.favoriteIcon {
  height: 1rem;
  position: absolute;
}

/* -------------------------oscar-------------------------*/
