.mainAccueil {
  background-color: white;
  border-radius: 10px;
}
.jobContainer {
  display: flex;
  margin: 1rem;
  text-align: center;
  justify-content: space-around;
}

.favoriteDiv {
  display: flex;
  align-items: center;
}

.jobSynthesisDiv {
  margin: 0.5rem;
  padding: 1rem;
}

.jobDetail {
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
}

.buttonDetail {
  border-radius: 50%;
  background-color: var(--fourth-color);
  height: 30px;
  width: 30px;
  color: var(--fourth-color);
  border: 0;
}

/* o-------------------------scar -------------------------*/
.oscar-div-exemple {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.offre {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  height: 20vh;
  width: 20vw;
}
.buttonAddFavorite {
  border: 0;
  background-color: transparent;
  display: flex;
}
.favoriteIcon {
  height: 2rem;
}
.favoriteIcon:hover {
  height: 2.2rem;
}

/* -------------------------oscar-------------------------*/
