.actioncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relaunchButtonON,
.cancelButtonON {
  color: white;
  background-color: var(--button-color);
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 0.4em;
  padding: 0.5em 1.1em;
  border: 1px solid var(--button-color);
  transition: background-color 0.35s, color 0.35s;
  cursor: pointer;
}

.relaunchButtonOFF,
.cancelButtonOFF {
  color: var(--button-color);
  background-color: white;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 0.4em;
  padding: 0.5em 1.1em;
  border: 1px solid var(--button-color);
  transition: background-color 0.35s, color 0.35s;
  cursor: pointer;
}

.relaunchbutton,
.cancelbutton {
  padding: 1em;
}
