.appliedOffer {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0;
}

.answerbuttons {
  display: flex;
  width: 20px;
  margin: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.reponseBtn {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  margin: 5px;
}

#sansReponse {
  background-color: var(--secondary-color);
  color: var(--secondary-color);
}

#avecReponse {
  background-color: var(--button-color);
  color: var(--button-color);
}

.applicationDetails {
  padding: 1rem;
}

.contactDetails {
  font-weight: lighter;
  font-size: 0.8rem;
}
