.div-footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--secondary-color);
  margin: auto;
  color: white;
  font-size: 0.9rem;
  align-items: self-start;
}

p {
  padding: 5px;
}

/***/

@media screen and (max-width: 360px) {
  .div-footer {
    justify-content: space-around;
    background-color: var(--secondary-color);
    height: 8rem;
    margin: auto;
    color: white;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 750px) {
  .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    background-color: var(--secondary-color);
    margin: inherit;
    color: white;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .div-footer {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .div-footer {
    width: 100%;
    margin: auto;
    font-size: 3rem;
  }
}
