.containerSubNav {
  display: flex;
  background-color: var(--secondary-color);
}

.itemsuivi {
  cursor: pointer;
  background-color: var(--secondary-color);
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 0;
  width: 25%;
  color: white;
}
.itemsuivi:hover {
  background-color: var(--primary-color);
}
.itemsuiviOnStart {
  background-color: var(--primary-color);
}

@media screen and (min-width: 750px) {

}
