:root {
  --primary-color: #1a4a57;
  --secondary-color: #35606b;
  --third-color: #e3e9eb;
  --fourth-color: #f08b30;
  --font-size-p: 1rem;
  --line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.main {
  background-color: var(--third-color);
  padding: 1rem;
}
